:root {
    --time-animation: 0.6s;
}

@keyframes pulse {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(25px);
    }

    100% {
        transform: translateY(0px);
    }
}

html {
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden scroll;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.layout {
    width: 100%;
    height: calc(100vh * 3);
    position: relative;
}

.layout section {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(100vh);
    transition: all var(--time-animation) ease-in-out;
    z-index: -1;
    box-sizing: border-box;
    /* mix-blend-mode: difference; */


}

.layout section .home {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    align-items: center;
}

.layout section .home svg {
    animation: pulse 1.4s linear infinite normal;
}


/*** RESPONSIVE ***/
/* MOBILE */
@media screen and (max-width: 576px) {
    /* body::-webkit-scrollbar {
        width: 0px;
        background: transparent;
        -webkit-appearance: none;
        } */
}

/* @media (width <800px) {
    .layout .s2 {
        background-color: transparent;
        z-index: 1;
        overflow-y: scroll;
        margin-top: 10px;
    }

} */
.layout .s1 {
    background-color: transparent;
    transform: translateY(0);
    z-index: -1;
    mix-blend-mode: difference;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30vh 6vw 0 6vw;
    box-sizing: border-box;


}

@media (width < 800px) {
    .layout .s1 {
        background-color: transparent;
        transform: translateY(0);
        z-index: -1;
        mix-blend-mode: difference;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30vh 5vw 0 5vw;
        box-sizing: border-box;
        background-color: black;


    }

    .home-c2-rs_img,
    .home-threeWays__img {
        width: 100%;
        margin: 25px 0;

    }

    .home-c2-ls_flex-list {
        display: grid;
        grid-template-columns: 50% 50%;
        row-gap: 15px;
        column-gap: 10px;
    }


    .home-c2-rs {
        margin-top: 10vh;
    }

    .layout .s2 {
        background-color: rgba(28, 26, 26, 0.468);
        z-index: 1;
        overflow-y: scroll;
        color: white;
        padding: 10vh 5vw 5vh 5vw;
        box-sizing: border-box;
    }

}

@media (width > 800px) {
    .home-c2-rs_img {
        width: 30%;
        margin: 25px 0;
    }

    .home-threeWays__img {
        width: 40%;
        margin: 25px 0;

    }

    .layout .s2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        justify-content: center;

    }

    .home-c2-ls {
        display: flex;
        gap: 5vw;
        align-items: center;
        justify-content: space-between;



    }

    .home-c2-rs {
        display: flex;
        align-items: center;
        gap: 5vw;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .home-c2-ls_flex-list {
        display: flex;
        row-gap: 15px;
        column-gap: 10px;
    }

    .layout .s2 {
        background-color: rgba(28, 26, 26, 0.468);
        z-index: 1;
        overflow-y: scroll;
        color: white;
        padding: 5vh 5vw 5vh 5vw;
        box-sizing: border-box;
    
    }


}

.home_video {
    position: fixed;
    z-index: -1;
}

.s1_text__img {
    width: 100%;
    height: fit-content;
}

.home_foot-txt {
    color: white;
    text-align: center;
    margin-top: 3vh;
    font-family: SUISREG;
    font-size: 1.5rem;
}


.home-c2-rs_article_header {
    font-family: SUISBOLD;
    color: #FFFFFF;
}

.home-c2-rs_article {
    font-family: SUISREG;
    color: #C4C4C4;
    margin: 15px 0;
    font-size: 15px;
}

.home-c2_list-item__head {
    font-family: SUISBOLD;
    color: #FFFFFF;
}

.home-c2_list-item {
    font-family: SUISREG;
    color: #C4C4C4;
}

.home-c2_ul {
    list-style: none;
}