@media (width > 800px) {
    .form_video {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        display: none;
    }
    
    .form {
        background-color: black;
        height: 100vh;
        position: absolute;
        top: 0;
    }
    
    .form_back-ico {
        position: fixed;
        left: 50px;
        top: 50px;
        font-size: 30px;
        color: white;
        mix-blend-mode: difference;
    
    }
    
    .form_container {
        width: 50vw;
        height: 80vh;
        box-sizing: border-box;
        background-color: #1C1C1C;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10vh 25vw;
        color: white;
        border-radius: 50px;
        box-shadow: 0 0 10px 1px rgba(92, 91, 91, 0.355);
    }
    
    .form_inform {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: SUISREG;
        gap: 2px;
    }
    
    .form_input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.232);
        padding: 5px 0;
        font-size: 16px;
        color: white;
    }
    
    .form_input:focus {
        outline: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.868);
    
    }
    
    .form_label {
        font-size: 16px;
    }
    
    .form_header {
        margin-bottom: 25px;
        font-size: 18px;
    }
    
    .form_input-margin {
        margin-left: 10px;
    }
    
    .form_msg-input {
        resize: none;
        height: 70px;
    }
    
    .form_button {
        background-color: #50BC5B;
        padding: 15px 10px;
        font-size: 18px;
        border: none;
        color: white;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-top: 15px;
        border-radius: 50px;
    }
    
    .form_button:hover {
        cursor: pointer;
        opacity: .8;
    }
    
    .form_budget {
        display: flex;
        gap: 10px;
    }
    
    .form_budget-btns {
        border: none;
        background-color: white;
        border-radius: 25px;
        padding: 7px;
        font-size: 16px;
        -webkit-text-stroke: .4px black;
    }
    
    .form_budget-btns:hover {
        cursor: pointer;
        opacity: .84;
    }
    
    .budget_container {
        display: flex;
        align-items: center;
        gap: 25px;
    }
    
    .discus_container {
        display: flex;
        gap: 25px;
        align-items: center;
    }
    
    .form_discus_select {
        padding: 7px;
        font-size: 16px;
        -webkit-text-stroke: .4px black;
        border-radius: 25px;
        cursor: pointer;
        background-color: #1C1C1C;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.318);
    
    }
    
    .form_discus_select {}
    
    .form_sidcus_option {}
    
}
@media (width < 800px) {
    .form_video {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        display: none;
    }
    
    .form {
        background-color: #1C1C1C;
        height: 100vh;
        position: absolute;
        top: 0;
      
    }
    
    .form_back-ico {
        position: fixed;
        left: 20px;
        top: 20px;
        font-size: 30px;
        color: white;
        mix-blend-mode: difference;
    
    }
    
    .form_container {
        width: 90vw;
        height: 90vh;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5vh 5vw ;
        color: white;
    }
    
    .form_inform {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: SUISREG;
        gap: 2px;
    }
    
    .form_input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.232);
        padding: 5px 0;
        font-size: 14px;
        color: white;
    }
    
    .form_input:focus {
        outline: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.868);
    
    }
    
    .form_label {
        font-size: 14px;
    }
    
    .form_header {
        margin-bottom: 25px;
        font-size: 14px;
    }
    
    .form_input-margin__mb {
        margin-left: 10px;
    }
    
    .form_msg-input {
        resize: none;
        height: 70px;
    }
    
    .form_button {
        background-color: #50BC5B;
        padding: 15px 10px;
        font-size: 18px;
        border: none;
        color: white;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-top: 15px;
        border-radius: 50px;
    }
    
    .form_button:hover {
        cursor: pointer;
        opacity: .8;
    }
    
    .form_budget {
        display: flex;
        gap: 10px;
        margin: 5px;

    }
    
    .form_budget-btns {
        border: none;
        background-color: white;
        border-radius: 25px;
        padding: 7px;
        font-size: 12px;
    }
    
    .form_budget-btns:hover {
        cursor: pointer;
        opacity: .84;
    }
    
    .budget_container {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .discus_container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .form_discus_select {
        padding: 4px;
        font-size: 16px;
        -webkit-text-stroke: .4px black;
        border-radius: 25px;
        cursor: pointer;
        background-color: #1C1C1C;
        color: white;
        outline: none;
        border: .5px solid rgba(255, 255, 255, 0.318);
        width: fit-content;
    
    }
    
    .contactme_container{
        display: flex;
        flex-direction: column;
    }
    .form_discus_select {}
    
    .form_sidcus_option {}
    
}